<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <!-- test if needed -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script defer src="/js/launchModalFaculty.js"></script>
</head>



<div id="nav-placeholder"></div>
<script>
    $(function () {
        $("#nav-placeholder").load("/navbar");
    });
</script>

<body>
    
    <div class="container p-4">
        <h2>Your Submissions</h2>
        <% if(facCount == 0){%>
            <div class="container p-4">
                <h3> You do not have any submissions. <a href="/submission">Click here </a>to start a submission.</h3>
            </div>
        <%}else{%>
        <div class="table-responsive mt-4">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date Submitted</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var element in projects){%>
                    <tr>
                        <td>
                            <% if(projects[element].status == 'Pending Approval'){%>
                            <span class="badge badge-info"><%= projects[element].status%></span>
                            <%}else if (projects[element].status == 'Approved'){%>
                            <span class="badge badge-success"><%= projects[element].status%></span>
                            <%}else if (projects[element].status == 'Denied'){%>
                            <span class="badge badge-warning"><%= projects[element].status%></span>
                            <%}else{%>
                            <span class="badge badge-info">Error: Please contact ORSP</span>
                            <%}%>
                        </td>

                        <td><%= projects[element]._id %></td>
                        <td>
                            <button
                                onclick="launchFacultySubmissionModal('<%= projects[element].status%>','<%= projects[element].title%>','<%= projects[element]._id %>','<%= projects[element].abstract%>', '<%= projects[element].description%>','<%= projects[element].primaryInvestigator%>','<%= projects[element].coFacultyInvestigator%>','<%= projects[element].faculty%>','<%= projects[element].dateSubmitted %>')"
                                class="btn btn-link text-left" data-toggle="modal" data-target="#myFacultyModal">
                                <%= projects[element].title %>
                            </button>

                        </td>
                        <td><%= projects[element].dateSubmitted %></td>
                    </tr>
                    <%}%>
                </tbody>

            </table>
        </div>
        <% }%>
    </div>
    
    <hr>
    <div class="container p-4">
        
        <h2>Your Submissions with Students</h2>
        <% if(stuCount == 0){ %>
            <div class="container p-4">
                <h3> You do not have any submissions with students.</h3>
            </div>
        <%}else{%>
        <div class="table-responsive mt-4">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date Submitted</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var element in studentProjects){%>
                    <tr>
                        <td>
                            <% if(studentProjects[element].status == 'Pending ORSP'){%>
                            <span class="badge badge-info"><%= studentProjects[element].status%></span>
                            <%}else if (studentProjects[element].status == 'Approved'){%>
                            <span class="badge badge-success"><%= studentProjects[element].status%></span>
                            <%}else if (studentProjects[element].status == 'Denied'){%>
                            <span class="badge badge-danger"><%= studentProjects[element].status%></span>
                            <%}else if (studentProjects[element].status == 'Pending Faculty'){%>
                            <span class="badge badge-info"><%= studentProjects[element].status%></span>
                            <%}else if (studentProjects[element].status == 'Pending PPT'){%>
                            <span class="badge badge-warning"><%= studentProjects[element].status%></span>
                            <%}else{%>
                            <span class="badge badge-warning">Error: Please contact ORSP</span>
                            <%}%>
                        </td>

                        <td><%= studentProjects[element]._id %></td>
                        <td>
                            <button
                                onclick="launchStudentModal('<%= studentProjects[element].status%>','<%= studentProjects[element].title%>','<%= studentProjects[element]._id %>','<%= studentProjects[element].abstractSubmitted%>','<%= studentProjects[element].submitter%>','<%= studentProjects[element].copis%>','<%= studentProjects[element].facultyAdvisor%>','<%= studentProjects[element].dateLastModified%>')"
                                class="btn btn-link text-left" data-toggle="modal" data-target="#myStudentModal">
                                <%= studentProjects[element].title %>
                            </button>

                        </td>
                        <td><%= studentProjects[element].dateSubmitted %></td>
                    </tr>
                    <%}%>
                </tbody>

            </table>
        </div>
        <%}%>
    </div>

    <!-- Faculty Modal -->
    <div id="myFacultyModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-10">
                                <h3 id="title"></h3>
                            </div>
                            <div class="col">
                                <span class="badge badge-info" id="status"></span>
                            </div>
                        </div>

                        <!-- warning message and edit -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-8 mr-auto">
                                <h5>Abstract</h5>
                                <p class="my-textbox" id="abstractLaunchModal" contenteditable="false">
                                </p>
                                <h5>Description</h5>
                                <p class="my-textbox" id="description" contenteditable="false">
                                </p>
                            </div>
                            <div class="col-3">
                                <h5>Primary Investigator</h5>
                                <p id="primary"></p>
                                <h5 class="mt-4">Co-Investigators</h5>
                                <p id="coPres"></p>
                                <h5 class="mt-4">Students</h5>
                                <p id="faculty"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p class="mr-auto small text-muted" id="lastEdit"></p>
                            <input id="edit" onclick="editable(); editAbstarct();"
                                class="edit btn btn-primary" type="button" value="Edit" />
                            <input id="approve" class="edit btn btn-success" type="button"
                                data-dismiss="modal" value="Approve" />
                            <input id="save" onclick="noteditable(); doneEditAbstarct();"
                                class="btn btn-primary" type="button"
                                value="Submit Changes & Approve" />
                            <input id="cancel" onclick="noteditable(); doneEditAbstarct();"
                                class="btn btn-danger" type="button" data-dismiss="modal"
                                value="Close" />
                            <input id="close" class="btn btn-secondary" type="button"
                                data-dismiss="modal" value="Close" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Student Modal -->
<div id="myStudentModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 id="studentTitle"></h3>
                        </div>
                        <div class="col">
                            <span class="badge badge-info" id="studentSubmissionID"></span>
                        </div>
                    </div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <div class="row">
                        <div class="col-8 mr-auto">
                            <h5>Abstract</h5>
                            <ps class="my-textbox" id="studentAbstractLaunchModal" contenteditable="false">
                            </p>
                        </div>
                        <div class="col-3">
                            <h5>Primary Presenter</h5>
                            <p id="studentPrimary"></p>
                            <h5 class="mt-4">Additional Presenters</h5>
                            <p id="studentCoPres"></p>
                            <h5 class="mt-4">Faculty</h5>
                            <p id="studentFaculty"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p class="mr-auto small text-muted" id="studentLastEdit"></p>
                        <input id="Sedit" 
                            onclick="editable(); editAbstarct();" class="edit btn btn-primary" type="button" value="Edit" />
                        <input id="Sapprove" 
                            class="edit btn btn-success" type="button"data-dismiss="modal" value="Approve" />
                        <input id="Ssave" 
                            onclick="noteditable(); doneEditAbstarct();" class="btn btn-primary" type="button" value="Submit Changes & Approve" />
                        <input id="Scancel" 
                            onclick="noteditable(); doneEditAbstarct();"class="btn btn-danger" type="button" data-dismiss="modal" value="Close" />
                        <input id="Sclose" class="btn btn-secondary" type="button" data-dismiss="modal" value="Close" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- edit to save/cancel function -->
<script src="/js/editModal.js"></script>

</html>