<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/launchModalORSP.js"></script>
    <script defer src="/js/orspSearch.js"></script>
    <script src="/js/lib/jquery.dataTables.min.js"></script>
    <script src="/js/sortColumn.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <% function sanitizeText(expression){return expression.replace(/(\r\n|\n|\r)/gm,' ').replace(/'/g, "\\'"); } %>
</head>

<div id="nav-placeholder"></div>
<script>
    $(function () {
        $("#nav-placeholder").load("/navbar");
    });
</script>

<div class="container p-4">
    <h1>ORSP Dashboard</h1>
    <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search..">
    <div class="table-responsive mt-4">
        <table id="sortColumn" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Primary Presenter</th>
                    <th scope="col">Date Submitted</th>
                </tr>
            </thead>

            <tbody id="studentProjects">
                <% for(var element in projects){%>
                <tr>
                    <td>
                        <% if(projects[element].status == 'Pending ORSP'){%>
                        <span class="badge badge-warning"><%= projects[element].status%></span>
                        <%}else if (projects[element].status == 'Approved'){%>
                        <span class="badge badge-success"><%= projects[element].status%></span>
                        <%}else if (projects[element].status == 'Denied'){%>
                        <span class="badge badge-danger"><%= projects[element].status%></span>
                        <%}else if (projects[element].status == 'Pending Faculty'){%>
                        <span class="badge badge-info"><%= projects[element].status%></span>
                        <%}else if (projects[element].status == 'Pending PPT'){%>
                        <span class="badge badge-info"><%= projects[element].status%></span>
                        <%}else{%>
                        <span class="badge badge-warning">Error: Please contact ORSP</span>
                        <%}%>
                        </td>
                        <td><%= projects[element]._id %></td>
                    <td>
                        <%if (projects[element].status == 'Approved'){%>
                        <button onclick="launchORSPModal(
                            '<%= projects[element].notes %>',
                            '<%= projects[element].status%>',
                            '<%= sanitizeText(projects[element].title) %>',
                            '<%= projects[element]._id %>',
                            '<%= sanitizeText(projects[element].abstractApproved) %>',
                            '<%= sanitizeText(projects[element].submitterName) %>',
                            '<%= projects[element].copis%>',
                            '<%= sanitizeText(projects[element].facultyAdvisorName) %>',
                            '<%= projects[element].dateLastModified%>')" class="btn btn-link text-left"
                            data-toggle="modal" data-target="#myORSPModal">
                            <%= projects[element].title %>
                        </button>
                        <%}else{%>
                        <button onclick="launchORSPModal(
                            '<%= projects[element].notes %>',
                            '<%= projects[element].status%>',
                            '<%= sanitizeText(projects[element].title) %>',
                            '<%= projects[element]._id %>',
                            '<%= sanitizeText(projects[element].abstractSubmitted) %>',
                            '<%= sanitizeText(projects[element].submitterName) %>',
                            '<%= projects[element].copis%>',
                            '<%= sanitizeText(projects[element].facultyAdvisorName) %>',
                            '<%= projects[element].dateLastModified%>')" class="btn btn-link text-left"
                            data-toggle="modal" data-target="#myORSPModal">
                            <%= projects[element].title %>
                        </button>
                        <%}%>
                    </td>
                    <td><%= projects[element].submitterName %></td>
                    <td><%= projects[element].dateSubmitted.toDateString() %></td>
                </tr>
                <%}%>
                </tbody>

            </table>
        </div>
    </div>

<!-- Student Modal -->
<div id="myORSPModal" class="modal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <div class="container">
            <div class="modal-header">
                <div class="row">
                    <div class="col-10">
                        <h3 id="studentTitle"></h3>
                    </div>
                    <div class="col">
                        <span class="badge badge-info" id="studentSubmissionID"></span>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="row">
                    <div class="col-8 mr-auto">
                        <h5>Abstract</h5>
                        <p  id="StudentAbstractLaunchModal" contenteditable="false">
                        </p>
                        <h5>ORSP Notes</h5>
                        <textarea rows="5" class="my-textbox" id="noteLaunchModal" value="" readonly="true"></textarea>
                    </div>
                    <div class="col-3">
                        <h5>Primary Presenter</h5>
                        <p id="studentPrimary"></p>
                        <h5 class="mt-4">Additional Presenters</h5>
                        <p id="studentCoPres"></p>
                        <h5 class="mt-4">Faculty</h5>
                        <p id="studentFaculty"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="mr-auto small text-muted" id="studentLastEdit"></p>
                    <input id="ORSPapprove" class="edit btn btn-success" type="button" data-dismiss="modal"
                        value="Approve" />
                    <input id="ORSPsave" onclick="noteditable(); doneEditAbstarct();" class="btn btn-primary" type="button" 
                        value="Save Note" />
                    <input id="ORSPredact" class="edit btn btn-warning" type="button" data-dismiss="modal"
                        value="Redact" />
                    <input id="ORSPnote" onclick="editable(); editAbstarct();" class="edit btn btn-primary" type="button" 
                        value="Add Note"/>
                    <input id="ORSPcloseNote" onclick="noteditable(); doneEditAbstarct();" class="btn btn-danger" type="button" data-dismiss="modal" 
                        value="Close" />
                    <input id="ORSPclose" class="btn btn-secondary" type="button" data-dismiss="modal"
                        value="Close" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/editModalORSP.js"></script>

</html>