<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/js/lib/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.dataTables.min.js"></script>
    <script src="/js/lib/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/getStudents.js"></script>
    <title>Student List Portal</title>
    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>
</head>

<div id="nav-placeholder"></div>
    <script>
        $(function(){
            $("#nav-placeholder").load("/navbar");
        });
    </script>
<body>
    <div class="container p-4">
        <h3>Add Student</h3>
        <form action="/orsp-add-student" method="post">
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="studentName">Name:</label>
                    <input type="text" name="studentName" class="form-control" id="studentName" required="true">
                </div>
                <div class="form-group col-md-4">
                    <label for="studentEmail">Email:</label>
                    <input type="text" name="studentEmail" class="form-control" id="studentName" required="true">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-3">
                    <label for="studentID">ID Number:</label>
                    <input type="text" class="form-control" name="studentID" id="studentID" required="true">
                </div>
                <div class="form-group col-4">
                    <label for="studentMajor">Major:</label>
                    <select id="studentMajor" name="studentMajor" class="form-control" required="true">
                        <option></option>
                        <% major.forEach((major)=>{ %>
                        <option value='<%= major.id%>'><%= major.major%></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group col-2">
                    <label for="studentClassLevel">Class Level</label>
                    <select id="studentClassLevel" name="studentClassLevel" class="form-control" required="true">
                        <option></option>
                        <option value="Freshman">Freshman</option>
                        <option value="Sophomore">Sophomore</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                        <option value="Graduate">Graduate</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <label for="studentCampus">Campus</label>
                    <select id="studentCampus" name="studentCampus" class="form-control" required="true">
                        <option></option>
                        <option value="Union" selected>Union (Main)</option>
                        <option value="Wenzhou">Wenzhou (China)</option>
                        <option value="Ocean">Ocean (Toms River)</option>
                        <option value="Skylands">Skylands (Oak Ridge)</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="submit" class="form-check btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <hr>
        <h3>List of Students</h3>
        <table id="studentTable" class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Unique ID #</th>
                    <th scope="col">Name</th>
                    <th scope="col">Student ID #</th>
                    <th scope="col">Email</th>
                    <th scope="col">Major</th>
                    <th scope="col">Class Level</th>
                    <th scope="col">primaryLocation</th>
                </tr>
            </thead>
            <tbody>
                <% for(index in students){ %>
                    <tr>
                        <td><%= students[index]._id%></td>
                        <td><%= students[index].name%></td>
                        <td><%= students[index].stuID%></td>
                        <td><%= students[index].email%></td>
                        <td><%= students[index].major%></td>
                        <td><%= students[index].classLevel%></td>
                        <td><%= students[index].primaryLocation%></td>
                    </tr>
                <%}%>
            </tbody>
        </table>

    </div>
</body>